{include file="`$lokasitemplate`komponen/home/header-template.html"}

<!-- style page -->
<link rel="stylesheet" href="https://www.serverdevelopment2020.my.id/template/dfunstation/newtemplate/css/tentang.css">

<!-- banner -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <h1 class="tag-fs">
        SAHABAT
        <br>
        KELUARGA
        <br>
        ANDA
      </h1>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img class="img-fluid" src="https://www.serverdevelopment2020.my.id/template/dfunstation/newtemplate/assets/img/keluarga.png" alt="">
    </div>
  </div>
</div>
</section>
<!-- akhir banner -->


<!-- visi misi -->
<section >
    <div class="container visi-misi">
      <div class="row">
        <div class="col-12">
          <h1 class="visi-judul text-center">VISI</h1>
          <P class="visi-isi text-center">
            Menjadi sahabat bagi keluarga Indonesia yang profesional, peduli, menginspirasi, dan mengedukasi guna meningkatkan kualitas generasi penerus bangsa.
          </P>
          <h1 class="visi-judul text-center">MISI</h1>
          <div class="visi-isi">
            <ul>
              <li>Memberikan pelayanan medis, psikologis, dan hukum yang profesional dan memiliki sertifikasi di bidangnya.</li>
              <li>Menyediakan pusat informasi (one stop information) yang mudah diakses terkait tumbuh kembang anak, kesehatan fisik dan psikologis, pendidikan, hiburan, edukasi, keluarga, serta hukum.</li>
              <li>Meningkatkan skrining perkembangan (kognitif, motorik, bahasa, emosi, dan sosial) pada anak usia dini dan pra sekolah.</li>
              <li>Meningkatkan kesadaran pentingnya kesehatan psikologis pada anak, remaja, dan dewasa dengan cara pemberian psikoedukasi melalui sosial media dan sekolah.</li>
              <li>Memberikan layanan pendampingan psikologis dan hukum di lembaga pendidikan, perusahaan, lembaga pemerintah, komunitas dan lembaga swasta lainnya, berupa pemetaan kemampuan/kompetensi, skrining kesehatan psikologis, dan pelatihan dalam mengoptimalkan potensi</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- lokasi -->
  <section >
    <div class="container lokasi">
      <div class="row">
        <div class="col-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.9976997154654!2d107.57124687475672!3d-6.890877193108229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e8e9f889eb47%3A0x7535f01128a078de!2sPsikolog%20Bandung%20-%20d&#39;Fun%20Station!5e0!3m2!1sid!2sid!4v1685760696054!5m2!1sid!2sid" class="lokasi-maps" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </section>


{include file="`$lokasitemplate`/komponen/home/footer-template.html"}