{include file="`$lokasitemplate`komponen/home/header-template.html"}

<link rel="stylesheet" href="https://www.serverdevelopment2020.my.id/template/dfunstation/newtemplate/css/faq.css">

<!-- banner -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <h1 class="tag-fs">
        Frequently
        <br>
        Asked
        <br>
        Questions?
      </h1>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img class="img-fluid" src="https://www.serverdevelopment2020.my.id/template/dfunstation/newtemplate/assets/img/keluarga-tentang.png" alt="">
    </div>
  </div>
</div>
</section>

<!-- faq -->
<section>
  <div class="container card-faq ">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 p-4">
              <ul class="nav  flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#umum">Informasi Umum</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#online">Layanan Online Konseling</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " data-bs-toggle="tab" href="#offline">Layanan Onsite Konseling</a>
                  </li>
              </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="tab-content">
                  <div class="tab-pane fade show active" id="umum"  >
                      <div class="accordion accordion-flush"  id="accordionFlushExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                  Apa itu d’Fun Station?
                              </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                  adalah sebuah tempat praktik bersama psikolog klinis dan konsultan hukum di Kota Bandung.
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                  Apa saja layanan yang ada di d’Fun Station?
                              </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                  Masalah apa saja yang bisa saya konsultasikan?
                              </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                            </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFor" aria-expanded="false" aria-controls="flush-collapseFor">
                                  Apakah layanan d’Fun Station berbayar?
                                </button>
                              </h2>
                              <div id="flush-collapseFor" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                  Bagaimana saya bisa menghubungi d’Fun Station?
                                </button>
                              </h2>
                              <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade " id="online"  >
                      isi -2
                  </div>
                  <div class="tab-pane fade " id="offline"  >
                      isi -3
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


{include file="`$lokasitemplate`/komponen/home/footer-template.html"}