{include file="`$lokasitemplate`komponen/home/header.html"}
<div class="kanalabout">
	<div class="container">
            <span>{$rubrik}</span>
            <p>
Banyak quiz dan permainan serta berbagai aplikasi yang dapat anda download dan mainkan di fungame ini, beberapa kuis
yang anda ikuti dapat menambah poin member anda.</p>
    </div>
</div>
<div class="insight">
    <div class="container">
        <div class="col-md-12">
        	
            <div class="col-md-12">
            <div class="game-item">
            	<div class="col-md-4">
                    <div class="game-item-img">
                    	<img src="{$lokasiwebtemplate}images/img.jadijuara.jpg" />
                    </div>
                </div>
                <div class="col-md-8">
                	<div class="game-item-judul">Permainan Siapa Ingin Jadi Juara</div>
                    <div class="game-item-info">
                    	Permainan ini merupakan permainan berbasis kuis Who Want to Be Millionare yang dapat
                        anda ikuti maupun putra-putri anda ikut. Permainan ini bersifat edukatif dengan banyak
                        pilihan tema yang dapat anda pilih. Anda harus login dan menjadi member terlebih
                        dahulu untuk mengikuti permainan ini.
                    </div><br  />
                     <a href="{$fulldomain}/quiz"><button type="submit" class="btn btn-warning">Mainkan Quiz</button></a></span>
                </div>
            </div>
            </div>
            
              <div class="col-md-12">
            <div class="game-item">
            	<div class="col-md-4">
                    <div class="game-item-img">
                    	<img src="{$lokasiwebtemplate}images/img.fundownload.jpg" />
                    </div>
                </div>
                <div class="col-md-8">
                	<div class="game-item-judul">Download Aplikasi dan Game</div>
                    <div class="game-item-info">
                    	Download banyak aplikasi, game maupun buku digital yang dapat anda gunakan bersama putra-putri anda.
                        Terdapat banyak referensi game edukasi maupun aplikasi edukasi di halaman ini. Untuk mendownload game
                        dan aplikasi anda harus menjadi member terlebih dahulu
                       .
                    </div><br  />
                     <a href="{$fulldomain}/download"><button type="submit" class="btn btn-warning">Download Aplikasi dan Game</button></a></span>
                </div>
            </div>
            </div>
             
		</div>
    </div>
</div>

{include file="`$lokasitemplate`/komponen/home/footer.html"} 