{strip}
{include file="`$lokasitemplate`komponen/home/header-template.html"}

<!-- style page -->
<link rel="stylesheet" href="https://www.serverdevelopment2020.my.id/template/dfunstation/newtemplate/css/home.css">

<!-- banner -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h1 class="tag-fs">
        SAHABAT
        <br>
        KELUARGA
        <br>
        ANDA
      </h1>
        <P class="singkat-fs">
          Sahabat bagi keluarga Indonesia yang profesional, peduli, menginspirasi, dan mengedukasi guna meningkatkan 
          <br>
          kualitas generasi penerus bangsa
        </P>
        <div style="cursor: pointer;" onclick="redirect(`/about`)">
          <a  class="btn btn-selengkapnya">Selengkapnya</a>
          <img src="https://www.serverdevelopment2020.my.id/template/dfunstation/newtemplate/assets/img/arrow-right.png" class="img-fluid" alt="">
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img class="img-fluid" src="https://www.serverdevelopment2020.my.id/template/dfunstation/newtemplate/assets/img/sahabat1.png" alt="">
    </div>
  </div>
</div>
</section>
<!-- akhir banner -->

<!-- layanan -->
<section class="layanan text-center pb-4 ">
    <div class="container">
      <h2 class="mt-5 layanan-judul">Layanan kami</h2>
      <p class="layanan-deskripsi">siap membantu anda untuk memenuhi segala kebutuhan keluarga bahagia</p>

      <div class="row g-3 card-row">
        <div onclick="redirect(`/consultation`)" id="card-konsultasi" class="col-lg-4 col-md-4 col-sm-12 card-layanan justify-content-center p-4 ">
            <div class="layanan-img rounded-circle mx-auto">
              <img src="https://www.serverdevelopment2020.my.id/template/dfunstation/newtemplate/assets/img/icon-layanan.png" class="img-fluid layanan-image" width="95px" height="95px" alt="Gambar">
            </div>
          <div class="card-body">
            <h5 class="card-title mt-3 mb-3">KONSULTASI</h5>
            <p class="card-text">Layanan Konsultasi Psikologi Klinis dan Hukum dengan psikolog dan praktisi hukum profesional yang teregistrasi</p>
          </div>
        </div>
        <div id="card-education" class="col-lg-4 col-md-4 col-sm-12 card-layanan justify-content-center p-4 ">
            <div class="layanan-img rounded-circle mx-auto">
              <img src="https://www.serverdevelopment2020.my.id/template/dfunstation/newtemplate/assets/img/icon_edutainment.png" class="img-fluid layanan-image" width="95px" height="95px" alt="Gambar">
            </div>
          <div class="card-body">
            <h5 class="card-title mt-3 mb-3">EDUTAINMENT</h5>
            <p class="card-text">Kumpulan informasi dan layanan pengembangan diri yang edukatif serta menyenangkan bagi individu maupun keluarga</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 card-layanan justify-content-center p-4 ">
            <div class="layanan-img rounded-circle mx-auto">
              <img src="https://www.serverdevelopment2020.my.id/template/dfunstation/newtemplate/assets/img/icon_event.png" class="img-fluid layanan-image" width="95px" height="95px" alt="Gambar">
            </div>
          <div class="card-body">
            <h5 class="card-title mt-3 mb-3">EVENT</h5>
            <p class="card-text">Kegiatan dan acara menarik untuk mengenal diri, menstimulasi potensi, dan meningkatkan kualitas keluarga</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- tentang -->
  <section class="tentang  mb-4">
    <div class="container pt-2 pb-5">

      <img src="https://www.serverdevelopment2020.my.id/template/dfunstation/newtemplate/assets/img/historydfs.png" class="img-fluid" alt="dfunstation">
      
      <div class="dot" style="left: 10%;"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true"  data-bs-title="2005 Playground d'Fun Station didirikan sebagai wahana edukasi dan bermain anak serta keluarga">        
      </div>
      <div class="dot" style="left: 40%;" data-bs-toggle="tooltip" data-bs-placement="bottom"  data-bs-title="2019 d'Fun Station playground mulai mengembangkan layanan psikologi klinis on site dan berfokus pada pengabdian masyarakat melalui parenting"></div>
      <div class="dot" style="left: 55%;" data-bs-toggle="tooltip" data-bs-placement="bottom"  data-bs-title="2020 Berakhirnya perjalanan d'Fun Station playground, pengembangan ke ranah psikologi klinis dan konsultan hukum. Dimulainya perjalanan konseling GRATIS melalui aplikasi d’Fun Station. Dalam periode ini kami bekerja sama dengan Ikatan Psikolog Klinis Indonesia Wilayah Jawa Barat"></div>
      <div class="dot" style="left: 65%;" data-bs-toggle="tooltip" data-bs-placement="bottom"  data-bs-title="2021 d'Fun Station mulai menjalin kerjasama dengan sekolah dan komunitas anak spesial untuk mengoptimalkan perkembangan anak dan menjaga kesehatan psikologis keluarga"></div>
      <div class="dot" style="left: 75%;" data-bs-toggle="tooltip" data-bs-placement="bottom"  data-bs-title="2022 d'Fun Station berkembang menjadi one stop family information dengan mengadakan berbagai kegiatan online dan on site. Dalam periode ini kami mulai membuka jalinan kerjasama dengan berbagai komunitas dan lembaga."></div>
      <div class="dot" style="left: 85%;" data-bs-toggle="tooltip" data-bs-placement="bottom"  data-bs-title="2023 d'Fun Station mulai membentangkan sayapnya dengan mengembangkan program edukasi keluarga dan layanan individu. Kami melangkah maju dengan menjalin kerja sama dengan tempat wisata juga korporasi yang sejalan dengan visi dan misi"></div>

      <h3 class="text-end text-white fw-bold">Sejarah d'fun Station</h3>
    </div>

  </section>

  <!-- artikel -->
  <section class="artikel">
    <div class="container">
      <div class="row">
        {foreach from=$dataheadline key=id item=ch}
            {if $ch.no eq '1'}
              <div id="artikel-home" onclick="redirect(`{$ch.link}`)" class="col-lg-6 col-md-6 col-sm-12">
                {if $ch.gambar neq ''}
                  <img src="{$ch.gambar}" class="img-fluid rounded" alt="{$ch.nama}">
                {/if}
                <h2 class="artikel-judul">{$ch.nama}</h2>
                <p class="artikel-terbit">
                  {$ch.tanggal} | <span>{$ch.namasec}</span>
                </p>
                <p class="artikel-deskripsi">
                  {$ch.ringkas}
                </p>
              </div>
            {/if}
          {/foreach}
        <div class="col-lg-6 col-md-6 col-12">
          <div class="artikel-populer">
            <h3 class="artikel-populer-tag text-center">Artikel Populer</h3>
            {foreach from=$dataheadline key=id item=ch}
                  {if $ch.no neq '1'}
                    <div onclick="redirect(`{$ch.link}`)" class="row mb-4 populer-artikel">
                      <div class="col-5">
                        {if $ch.gambar neq ''}
                        <img src="{$ch.gambar}" class="img-thumbnail img-fluid" alt="{$ch.nama}" width="180px" height="115px">
                        {/if}
                      </div>
                      <div class="col-7">
                        <h4 class="artikel-populer-judul">{$ch.nama}</h4>
                        <div class="artikel-populer-terbit">{$ch.tanggal} </div>
                        <div class="artikel-populer-deskripsi">{$ch.ringkas}</div>
                      </div>
                    </div>
                  {/if}
              {/foreach}
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- testimoni -->
  <section class="testimoni text-center">
    <h2 class="testimoni-judul">TESTIMONI</h2>
    <img src="https://www.serverdevelopment2020.my.id/template/dfunstation/newtemplate/assets/img/Ellipse.png" class="img-fluid rounded-circle mb-3"  alt="dfunstation" width="100px" height="100px">
    <div class="testimoni-identitas">Inisial A.D</div>
    <div class="testimoni-identitas">Ibu Rumah Tangga</div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-12"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 testimoni-penjelasan mt-4 mx-auto">
          <p class="text-center p-3" >
            "Sangat membantu dan informatif"
          </p>
        </div>
        <div class="col-lg-2 col-md-2 col-12"></div>
      </div>
    </div>
  </section>

{include file="`$lokasitemplate`/komponen/home/footer-template.html"}
{/strip}