{include file="`$lokasitemplate`komponen/home/header_simposium.html"}
<hr>
<div class="container">
	<div class="col-md-12">
		<div class="box-about">

			<div class="title-headline">
				<span>Latar belakang</span>
			</div>
			<br clear="all" />
			<div class="detailcontent text-justify">Ikatan Psikolog Klinis Wilayah Jawa Barat (IPK JABAR) adalah
				organisasi yang
				berada dibawah naungan Ikatan Psikolog Klinis Indonesia dan menjadi wadah bagi para
				psikolog klinis di wilayah Jawa Barat yang memiliki kesamaan minat dalam keilmuan
				dan/atau praktik psikologi klinis. IPK JABAR memiliki berbagai kegiatan yang bertujuan
				untuk membantu psikolog klinis dalam mengembangkan diri. Selain itu, IPK JABAR pun
				berusaha hadir untuk meningkatkan kesejahteraan masyarakat melalui program-program
				pengabdian masyarakat yang dilakukan secara online maupun on site. IPK JABAR cukup
				banyak menjalin kerja sama dengan berbagai lembaga, institusi maupun komunitas agar
				tujuan IPK Jabar tersebut terlaksana dengan baik. Salah satu komunitas yang bekerja sama
				dengan IPK JABAR, yaitu Komunitas Peduli Anak Spesial (K-PAS). K-PAS merupakan
				komunitas non-profit yang berusaha menjadi wadah bagi generasi muda berkebutuhan
				khusus, yaitu bagi individu yang berusia remaja hingga dewasa, dengan berbagai macam
				diagnosa seperti autisme, disabilitas intelektual, ADHD, dll. K-PAS memiliki beberapa
				program pendampingan keluarga dan anak berkebutuhan khusus dengan tujuan untuk
				meningkatkan kualitas hidup mereka.
				IPK JABAR berkolaborasi dengan K-PAS untuk merencanakan dan melaksanakan
				acara Simposium Nasional “Keluarga dengan Anak Berkebutuhan Khusus” (KABK) dalam
				rangka menyambut Hari Disabilitas Internasional Tahun 2021. Acara Simposium Nasional
				KABK 2021 adalah salah satu kegiatan yang berupaya untuk meningkatkan kesejahteraan
				masyarakat sekaligus menjadi tempat pengembangan diri bagi para ilmuwan maupun praktisi
				yang bergerak dalam bidang anak berkebutuhan khusus. Selain itu, acara ini juga dapat
				menjadi wadah untuk mengapresiasi hasil karya seni (seni pertunjukan dan seni rupa) dari
				para anak berkebutuhan khusus yang berasal dari seluruh Indonesia. Oleh karena itu,
				Simposium Nasional KABK 2021 ini memiliki serangkaian kegiatan yang terdiri dari
				kegiatan simposium nasional, oral presentation, seri lokakarya, dialog terbuka, pameran dan
				pertunjukan daring yang bertemakan “Ekspresi Spesial Bagi Nusantara”.
			

				</div>
				<br clear="all" />
				<hr />
				<div id="share"></div>

				<script src="{$lokasiwebtemplate}js/jssocials.min.js"></script>
				<script>
					$("#share").jsSocials({
						shares: ["facebook", "twitter", "googleplus", "linkedin", "whatsapp"]
					});
				</script>
			</div>
		</div>
	</div>

	<br clear="all" /><br clear="all" />
	{include file="`$lokasitemplate`/komponen/home/footer_simposium.html"}