{include file="`$lokasitemplate`komponen/home/header.html"}
<div class="kanalabout">
	<div class="container">
            <span>{$rubrik}</span>
            <p>Banyak cara yang dapat ditempuh untuk anda mengunjungi {$title}
</p>
    </div>
</div>
{include file="`$lokasitemplate`komponen/home/aboutmenu.html"}

<div class="container">
<div class="col-md-12">
    <div class="box-about">
    
    	 <div class="col-md-6">
            <div  style="width:96%; height:500px">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d247.56231565550237!2d107.5737428!3d-6.8909549!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e8e9f889eb47%3A0x7535f01128a078de!2sd&#39;Fun%20Station!5e0!3m2!1sid!2sid!4v1675671646489!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <br>Anda dapat juga membuka peta lokasi dFun Station melalui peta dibawah ini atau dengan mengakses URL <strong><a href="http://maps.google.com/maps?q=-6.954576,107.59868" target="_blank">Google Maps</a></strong>
                    
                    {literal}
                    <script>
                      function initMap() {
                        var myLatLng = {lat: -6.954576, lng: 107.59868};
						 
                        var map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 14,
                          center: myLatLng
                        });
			
                
                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Lokasi DFun Station'
                        });
						
                      }
                    </script>
                    {/literal}
                     <script async defer   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7qzcYZyYlwZfkRAARFjLYyMqKIimzyFU&callback=initMap"> </script>
                     
         </div>
    	
        <div class="col-md-6">
 		
        <div class="title-headline">
            <span>{$detailnama}</span>
        </div>
        <br clear="all" />
        <div class="detailcontent">{$detaillengkap}</div>
        <br clear="all" />
        <hr />
         <div id="share"></div>

        <script src="{$lokasiwebtemplate}js/jssocials.min.js"></script>
        <script>
            $("#share").jsSocials({
                shares: ["facebook","twitter","googleplus", "linkedin", "whatsapp"]
            });
        </script>
        
        </div>
 </div> 
</div>
</div> 
 
 <br clear="all" /><br clear="all" />
{include file="`$lokasitemplate`/komponen/home/footer.html"}