<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Halaman pembayaran</title>
    <link rel="stylesheet" href="{$lokasiwebtemplate}css/font-awesome.min.css" />
    <link rel="stylesheet" href="{$lokasiwebtemplate}fonts/titillium.css" />

    <link rel="stylesheet" href="{$lokasiwebtemplate}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{$lokasiwebtemplate}js/fancybox/jquery.fancybox.css" />


    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="{$lokasiwebtemplate}js/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="{$lokasiwebtemplate}js/owl-carousel/owl.transitions.css">

    <link rel="stylesheet" href="{$lokasiwebtemplate}css/jssocials.css" />
    <link rel="stylesheet" href="{$lokasiwebtemplate}css/jssocials-theme-flat.css" />


    <!-- Default Theme -->
    <link rel="stylesheet" href="{$lokasiwebtemplate}js/owl-carousel/owl.theme.css">


    <!-- own stylesheet -->
    <link rel="stylesheet" href="{$lokasiwebtemplate}css/style.css" />
    <link rel="stylesheet" href="{$lokasiwebtemplate}css/dev.css" />
    <script src="{$lokasiwebtemplate}js/modernizr 2.8.3.min.js"></script>
    <script src="{$lokasiwebtemplate}js/jquery.js"></script>

    <style>
        body {
            margin-top: 1em
        }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
            /* border-bottom: 1px solid #dedede; */
        }

        .mb-0 {
            margin-bottom: 0;
        }
    </style>

</head>

<body>
    <div class="container">

        <div class="row ">

            {if $subaksi eq 'finish'}
            {if $fromapps eq '1'}
            {if $sukses eq '1'}
            <center>
                <div class="alert alert-success">
                    <center>{$message}</center>
                </div>
                <a href="{$fulldomain}/cart/evoucher/closed" class="btn btn-warning">Lihat Riwayat Transaksi</a>
                <a href="{$fulldomain}" class="btn btn-primary">Halaman Home</a>
            </center>
            <center>
                <div style="margin-top: 20px;" class="alert alert-danger">
                    <center>Silahkan Klik link dibawah ini untuk bergabung ke grup telegram</center>
                </div>
                <a href="https://t.me/dfunstationwebinar" class="btn btn-danger">Gabung Grup Telegram</a>
            </center>
            {else}
            <center>
                <div class="alert alert-danger">
                    <center>{$message}</center>
                </div>
                <a href="{$fulldomain}/cart/evoucher/closed" class="btn btn-warning">Lihat Riwayat Transaksi</a>
                <a href="{$fulldomain}" class="btn btn-primary">Halaman Home</a>
            </center>
            {/if}
            {else}
            {if $sukses eq '1'}
            <center>
                <div class="alert alert-success">
                    <center>{$message}</center>
                </div>
                <a href="{$fulldomain}/user/history" class="btn btn-warning">Lihat Riwayat Transaksi</a> <a
                    href="{$fulldomain}" class="btn btn-primary">Halaman Home</a>
            </center>
            <center>
                <div style="margin-top: 20px;" class="alert alert-danger">
                    <center>Silahkan Klik link dibawah ini untuk bergabung ke grup telegram</center>
                </div>
                <a href="https://t.me/dfunstationwebinar" class="btn btn-danger">Gabung Grup Telegram</a>
            </center>
            {else}
            <center>
                <div class="alert alert-danger">
                    <center>{$message}</center>
                </div>
                <a href="{$fulldomain}//user/history" class="btn btn-warning">Lihat Riwayat Transaksi</a>
                <a href="{$fulldomain}" class="btn btn-primary">Halaman Home</a>
            </center>
            {/if}
            {/if}

            {else}

            {if $message neq ''}
            <div class="col-md-offset-3 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="text-center">
                            <strong>Pembelian Dibatalkan</strong>
                        </h4>
                        <center>
                            {$message}
                        </center>
                    </div>
                </div>
            </div>
            {else}

            <div class="col-md-offset-3 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="text-center">
                            <strong>Menyiapkan Pembayaran</strong>
                        </h4>
                    </div>


                    <div class="panel-body">
                        <form method="post" action="" id="bayar">
                            <input type="hidden" value="{$voucherid}" name="voucherid">
                            <input type="hidden" value="{$userid}" name="userid">
                            <input type="hidden" value="{$jml}" name="jml">
                            <input type="hidden" value="{$harga}" name="harga">
                            <input type="hidden" value="{$total}" name="total">
                            <input type="hidden" value="1" name="bayar">
                            <input type="submit" class="btn btn-success btn-lg btn-block" id="kirim"
                                value="Mengirimkan...">
                        </form>
                    </div>
                    <script>
                        $('#bayar').submit();
                    </script>
                    {/if}

                    {/if}



                </div>




            </div>




            <script src="{$lokasiwebtemplate}js/jquery.init.js"></script>
            <script src="{$lokasiwebtemplate}js/dev.js"></script>

            <script src="{$lokasiwebtemplate}js/bootstrap.min.js"></script>

</body>

</html>