{include file="`$lokasitemplate`komponen/home/header.html"}
<div class="topkanal">
	<div class="container">
    	<div class="topkanal-inner">
           <div class="topkanal-inner-1"><span>{$rubrik}</span></div>
          
        </div>
    </div>
</div>
<div id="header-kanal">
	 <div class="container">
            <div class="row">
					<span>&nbsp;</span>
			</div>
	 </div>
</div>
<div class="insight">
    <div class="container">
        <div class="col-md-12 boxcontent">
            <div class="box-content">
                <div class="large-content">
                    <div class="title-headline">
                        <span>{$detailnama}</span>
                    </div><br clear="all" />
            
                    {if $detailgambar neq ''}
                    <div class="thumbDetail">
                        <img src="{$detailgambar}" alt="{$detailnama}" class="img-responsive" />
                    </div>
                    {/if}
                    <div class="ringkas">{$detailringkas}</div>
                    <p>{$detaillengkap}</p>
            
                    <br clear="all" />
                    <div class="bg-divider"></div>
                    
                </div>
			</div>
        </div>
    </div>
</div>
<br clear="all" />
{include file="`$lokasitemplate`/komponen/home/footer.html"}