{include file="`$lokasitemplate`komponen/home/header.html"}
<div class="kanalabout">
	<div class="container">
            <span>{$rubrik}</span>
            <p>
Khusus untuk member dfun Station, anda bisa menukarkan poin yang telah anda kumpulkan dari berbagai aktifitas di website dan 
juga saat bermain di funstation dengan banyak pilihan paket redeem berikut.</p>
    </div>
</div>
<div class="insight">
    <div class="container">
        <div class="col-md-12">
        {if $aksi eq 'read'}
            {include file="`$lokasitemplate`komponen/$kanal/$kanal.read.html"}
        {else}
            {include file="`$lokasitemplate`komponen/$kanal/$kanal.list.html"}
        {/if}        
		</div>
    </div>
</div>

{include file="`$lokasitemplate`/komponen/home/footer.html"} 