{include file="`$lokasitemplate`komponen/home/header_simposium.html"}
<hr>
<div class="container">
	<div class="col-md-12">
		<div class="box-about">


			<div class="title-headline">
				<span>Sasaran Kegiatan</span>
			</div>
			<br clear="all" />
			<div class="detailcontent text-justify">Acara ini bertujuan untuk mempertemukan setiap pihak yang terlibat
				dalam
				pengembangan
				ilmu dan praktik yang berkaitan dengan anak berkebutuhan khusus, baik dari sisi akademisi, praktisi
				profesional, maupun para caregiver (keluarga dan helper). Acara ini berfokus pada kegiatan diksusi
				terkait temuan ilmiah dan pengalaman praktik lapangan dalam bidang keluarga dan anak
				berkebutuhan khusus, pameran hasil karya anak berkebutuhan khusus, serta mengadakan lokakarya
				yang dapat diikuti oleh para akademisi, praktisi professional, caregiver maupun masyarakat luas guna
				meningkatkan kesehatan serta kesejahteraan keluarga dengan anak berkebutuhan khusus di Indonesia.
				<br>
					<br>
				<strong>Target peserta kegiatan :</strong>
				<ol>
					<li>Caregiver Anak Berkebutuhan Khusus</li>
					<li>Praktisi Profesional (Medis, Psikologi, Seni, Pendidikan dll)</li>
					<li>Akademisi (Mahasiswa dan Dosen) dari berbagai bidang</li>
					<li>Masyarakat umum</li>
				</ol>
			</div>

		</div>
	</div>

	<br clear="all" /><br clear="all" />
	{include file="`$lokasitemplate`/komponen/home/footer_simposium.html"}