{include file="`$lokasitemplate`komponen/home/header_simposium.html"}
{include file="`$lokasitemplate`komponen/simposium/banner.html"}

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="list-konsultan-kanan">
                <div class="col-xs-4">
                    <div class="list-konsultan-kanan-img-simpo">
                        <a href="{$lokasiweb}/about-simpo"><img src="{$lokasiweb}/images/simpo/simponas.png"
                                alt="SIMPOSIUM NASIONAL" class="img-responsive" /></a>
                    </div>
                </div>
                <a href="{$lokasiweb}/about-simpo">
                    <div class="col-xs-8 list-simposium">
                        <div class="list-konsultan-kanan-isi "> <strong style="color: #fff;">SIMPOSIUM
                                NASIONAL
                                <br>
                                <em> &quot; Keluarga Dengan Anak Berkebutuhan Khusus &quot;</em> </strong>
                        </div>
                    </div>
                </a>
            </div>

            <div class="list-konsultan-kanan">
                <div class="col-xs-4">
                    <div class="list-konsultan-kanan-img-simpo">
                        <a href="{$lokasiweb}/lokakarya"><img src="{$lokasiweb}/images/simpo/training.png"
                                alt="SIMPOSIUM NASIONAL" class="img-responsive" /></a>
                    </div>
                </div>
                <a href="{$lokasiweb}/lokakarya">
                    <div class="col-xs-8 list-simposium">
                        <div class="list-konsultan-kanan-isi "> <strong style="color: #fff;"> SERI LOKAKARYA
                                <br>
                                  DARING  </strong>
                        </div>
                    </div>
                </a>
            </div>

            <div class="list-konsultan-kanan">
                <div class="col-xs-4">
                    <div class="list-konsultan-kanan-img-simpo">
                        <a href="{$lokasiweb}/pameran"><img src="{$lokasiweb}/images/simpo/exibition.png"
                                alt="SIMPOSIUM NASIONAL" class="img-responsive" /></a>
                    </div>
                </div>
                <a href="{$lokasiweb}/pameran">
                    <div class="col-xs-8 list-simposium">
                        <div class="list-konsultan-kanan-isi "> <strong style="color: #fff;">PAMERAN DAN PAGELARAN
                                <br>
                                <em> &quot; Ekspresi Spesial Bagi Nusantara &quot;</em> </strong>
                        </div>
                    </div>
                </a>
            </div>

            <div class="list-konsultan-kanan">
                <div class="col-xs-4">
                    <div class="list-konsultan-kanan-img-simpo">
                        <a href="{$lokasiweb}/dekralasi"><img
                                src="{$lokasiwebtemplate}/images/simposium/icondeklarasi.png" alt="SIMPOSIUM NASIONAL"
                                class="img-responsive" /></a>
                    </div>
                </div>
                <a href="{$lokasiweb}/dekralasi">
                    <div class="col-xs-8 list-simposium">
                        <div class="list-konsultan-kanan-isi "> <strong style="color: #fff;">DEKRALASI
                                <br>
                                <em> &quot; Ekspresi Spesial Bagi Nusantara &quot;</em> </strong>
                        </div>
                    </div>
                </a>
            </div>



        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

<br clear="all" /><br clear="all" />
{include file="`$lokasitemplate`/komponen/home/footer_simposium.html"}