{include file="`$lokasitemplate`komponen/home/header_simposium.html"}
<hr>
<div class="container">
	<div class="col-md-12">
		<div class="box-about">


			<div class="detailcontent">
				<div class="title-headline">
					<span>Susunan Panitia</span>
				</div>
				<br clear="all" />
				<div style="text-align: justify;" class="detailcontent">
				<strong>Dewan Penasihat : </strong>
				<br> Prof. Dr. Setiawan Sabana, MFA.
				<br> Dr. Nugraha Pranadita, S.IP., S.H., M.M., M.H.
			  <br> <br>
			  	<strong>Ketua	 Panitia		:</strong>  <br>Dr. Henndy Ginting, S.Psi., M.Si., Psikolog
				<br>	 <br>
				<strong>Wakil Ketua 		:</strong>  <br>Sho Diana Sofian <br>
				<br>
				<strong>Sekretaris 		:</strong>  <br>Melissa Luckyanti, S.Psi., M.Psi., Psikolog  <br>
				<br>
				<strong>Bendahara I		:</strong>  <br>Sumini Subiyanto <br>
				<br>
				<strong>Bendahara II		:</strong>  <br>Amalia Darmawan, S.Psi., M.Psi., Psikolog <br>
				<br>

				  <strong>Seksi Acara 	
				Simposium & Seri Lokakarya :</strong>
				 <br>
				•	Linda Widyastuti, S.Psi., M.Psi., Psikolog (Koord) 
				 <br>
				•	Rininta Meyftanoria, S.Psi., M.Psi., Psikolog 
				 <br>
				•	Angie Nathania Devi, S.Psi., M.Psi., Psikolog 
				 <br>
				•	Hilman Syafriadi, M.Sn.
				 <br>
				•	Maya Dwiayuningtyas, S.Psi., M,Psi., Psikolog 
				 <br> <br>
				<strong>Karya Ilmiah        :</strong>
				 <br>
				•	Gai Subagja Suhardja, Ph.D. (Koord)
				 <br>
				•	Dr. Kharista Astrini Sakya, M.Ds.
				 <br>
				•	Ayu Pradani Sugiyanto Putri, S.Psi., M.Psi., Psikolog 
				 <br>
				•	Diah Puspasari, S.Psi., M.Psi., Psikolog 
				 <br>
				•	Mustika Permatahati, S.Psi., M.Psi.,Psikolog 
				 <br>
				•	Febriani Sabatini Sirojudin Abas, S.Psi., M.Psi.,Psikolog 
				 <br>
				  <br>
				 <strong>Pameran dan Pertunjukan Daring : </strong>
				  <br>
				•	Fahdi Hasan, S.Tr.Sn. (Koord)
				 <br>
				•	Neysa Valeria, S.Psi., M.MM.
				 <br>
				•	Hilman Syafriadi, M.Sn.
				 <br>
				•	Kiki Maulana Marja
				 <br>
				•	Dani Nur Alam
				 <br>
				•	Fajar Okto
				 <br>
				  <br>
				<strong>Sekretariat 	: </strong>
				<br>
				•	Rachmawati Pratiwi, S.Psi., M.Psi, Psikolog  <br>
				•	Prinska Damara Sastri, S.Psi., M.Psi., Psikolog  <br>
				•	Rani Maharani <br>
				•	Unawekla Marliene Susianikita <br>
 <br>
				<strong>Humas & Sponsorship  :</strong> <br>
				•	Dr. Ariesa Pandanwangi, M.Sn. (Koord) <br>
				•	Made Loviani, S.Psi., M.Psi., Psikolog  <br>
				•	Yuyun Syarifah, S.Psi., M.Psi., Psikolog  <br>
				•	Yati Mulyati <br>
				•	Brenda Carqua, S.Kom. <br>
				•	Irfan Budiawan
 <br>
  <br>
				<strong>Publikasi & Dokumentasi  :</strong> <br>
				•	Dedi Kurnia <br>
				•	Nazwa Zenischa Aulia <br>
 <br>
				<strong>Perlengkapan  :</strong> <br>
				•	Dedi Kurnia

				</div>
				<br clear="all" />
				<hr />
				<div id="share"></div>

				<script src="{$lokasiwebtemplate}js/jssocials.min.js"></script>
				<script>
					$("#share").jsSocials({
						shares: ["facebook", "twitter", "googleplus", "linkedin", "whatsapp"]
					});
				</script>
			</div>
		</div>
	</div>

	<br clear="all" /><br clear="all" />
	{include file="`$lokasitemplate`/komponen/home/footer_simposium.html"}