{include file="`$lokasitemplate`komponen/home/header-template.html"}

<!-- banner -->
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h1 class="tag-fs">
          SYARAT
          <br>
          DAN
          <br>
          KETENTUAN
        </h1>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img class="img-fluid" src="https://www.serverdevelopment2020.my.id/template/dfunstation/newtemplate/assets/img/syarat-ketentuan.png" alt="">
      </div>
    </div>
  </div>
</section>

<!-- Syarat Ketentuan -->
<section >
<div class="container visi-misi border rounded-3 mt-3 mb-3 border-white p-4">
  <div class="row">
    <div class="col-12">
      <div class="fw-bold">{$detailnama}</div>
      <p class="text-black">{$detaillengkap}</p>
    </div>
  </div>
</div>
</section>




{include file="`$lokasitemplate`/komponen/home/footer-template.html"}