{include file="`$lokasitemplate`/komponen/home/header.html"}


{if $aksi eq 'tes'}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <br><br>
                <div class="sign-form single">
                    <div class="tesmandiri-intro">
                        <!-- <img src="{$lokasiwebtemplate}images/img.tesmandiri_.png" /> -->
                        <h2>Analisa Profile Kepribadian<br />STAI-State</h2>
                        <br />Pengembangan tes ini merupakan kerjasama antara Pojok Psikologi Bandung, d'Fun Station,
                        IPK Jabar dan HIMPSI Jabar.
                        <br /><br />
                        <strong>Konsultan Ahli:</strong><br />
                        Dr. Henndy Ginting, S.Psi., M.Si., Psikolog<br />
                        Robert O. Rajagukguk, Ph.D., Psikolog<br />
                    </div>
                    <div class="sign-inner">

                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                                        <li class="disabled"><a href="#step-1">
                                                <h4 class="list-group-item-heading">Daftar</h4>
                                            </a></li>
                                        <li class="active"><a href="#step-2">
                                                <h4 class="list-group-item-heading">Tes</h4>
                                            </a></li>
                                        <li class="disabled"><a href="#step-3">
                                                <h4 class="list-group-item-heading">Hasil</h4>
                                            </a></li>
                                    </ul>
                                </div>
                            </div>


                            {if $pesanhasil neq ''}
                            <div class="alert {if $berhasil eq '1'}  alert-success {else} alert-danger{/if} alert-dismissible"
                                role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                {$pesanhasil}.
                                <ul>
                                    {foreach from=$pesan key=id item=a}
                                    <li>{$a.pesan}</li>
                                    {/foreach}
                                </ul>
                            </div>
                            {else}
                            <strong> Petunjuk:</strong><br />
                            Bayangkan anda berada dalam salah satu 'setting' lingkungan (kerja, keluarga, sekolah, atau lainnya) sesuai dengan tujuan pemeriksaan. Tugas anda, membaca 4 kalimat yang terdapat didalam masing-masing kotak, Lingkarilah "" disamping kalimat yang <strong>PALING</strong> menggambarkan diri anda dalam 'setting' yang sudah ditentukan tersebut, kemudian lingkarilah "" disamping kalimat yang <strong>KURANG</strong> menggambarkan diri anda dalam 'setting' tersebut untuk masing-masing kotak, pilih satu respon PALING dan KURANG.                            
                            <br />

                            {/if}

                            {if $pesanhasil eq ''}
                            <div class="p-10">

                                <style>
                                    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
                                    padding: 3px 2px 3px 2px;
                                    line-height: 1.42857143;
                                    vertical-align: top;
                                    border-top: 1px solid #ddd;
}
                                </style>

                                <form method="post" name="ptform" id="ptform">
                                    <div style="background-color: #f0f760;" class="soal-pt-pertanyaan" id="sikap">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered ">
                                                  <tr>
                                                      <td style="padding-left: 15px ;" >P</td>
                                                      <td style="padding-left: 15px ;" >K</td>
                                                      <td style="padding-left: 15px ;" >Contoh</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="padding-left: 15px ;" ><input checked type="radio" style="padding:5px; width:15px; height:15px" name="j-1" id="" readonly></td>
                                                    <td style="padding-left: 15px ;" ><input type="radio" style="padding:5px; width:15px; height:15px" name="j-2" id="" readonly></td></td>
                                                    <td style="padding-left: 15px ;" >Mudah Bergaul.</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="padding-left: 15px ;" ><input type="radio" style="padding:5px; width:15px; height:15px" name="j-1" id="" readonly></td>
                                                    <td style="padding-left: 15px ;" ><input checked type="radio" style="padding:5px; width:15px; height:15px" name="j-2" id="" readonly></td></td>
                                                    <td style="padding-left: 15px ;" >Penuh Kepercayaan, Percaya kepada orang lain.</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="padding-left: 15px ;" ><input type="radio" style="padding:5px; width:15px; height:15px" name="j-1" id="" readonly></td>
                                                    <td style="padding-left: 15px ;" ><input type="radio" style="padding:5px; width:15px; height:15px" name="j-2" id="" readonly></td></td>
                                                    <td style="padding-left: 15px ;" >Petualang, Pengambil resiko.</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="padding-left: 15px ;" ><input type="radio" style="padding:5px; width:15px; height:15px" name="j-1" id="" readonly></td>
                                                    <td style="padding-left: 15px ;" ><input type="radio" style="padding:5px; width:15px; height:15px" name="j-2" id="" readonly></td></td>
                                                    <td style="padding-left: 15px ;" >Toleran, Penuh hormat.</td>
                                                  </tr>
                                                </table>
                                              </div>
                                        </div>
                                    </div>

                                    <input type="hidden" value="1" name="sikap" />
                                    {foreach from=$soalsikap key=soalid item=a}
                                    <input type="hidden" name="no[{$a.no}]" value="{$a.soalid}" />
                                    <input type="hidden" name="soal[{$a.no}]" value="{$a.soalid}" />
                                    <br clear="all" />
                                    <div class="soal-pt-item">
                                        <div class="p-10">
                                            <div class="soal-pt-pertanyaan" id="sikap">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered ">
                                                          <tr>
                                                              <td style="padding-left: 15px ;" >P</td>
                                                              <td style="padding-left: 15px ;" >K</td>
                                                              <td style="padding-left: 15px ;" ></td>
                                                          </tr>
                                                          {foreach from=$a.pertanyaan item=pt}
                                                          <tr>
                                                            <td style="padding-left: 15px ;" ><input value="{$pt.jawaban_p}" type="radio" style="padding:5px; width:15px; height:15px" name="p-{$pt.nomornya}" id="" required ></td>
                                                            <td style="padding-left: 15px ;" ><input value="{$pt.jawaban_k}" type="radio" style="padding:5px; width:15px; height:15px" name="k-{$pt.nomornya}" id="" required ></td></td>
                                                            <td style="padding-left: 15px ;" >{$pt.pertanyaannya}</td>
                                                          </tr>
                                                          {/foreach}
                                                        </table>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {/foreach}

                                    <br clear="all" />

                                    <script>
                                        function pilih(data) {
                                            $("#sikap-" + data).addClass("soal-pilih");
                                        }
                                    </script>

                                    <br clear="all" />

                                    <div class="alert alert-default"><strong>Pastikan semua jawaban terisi
                                            penuh.</strong> Jika telah selesai menjawab semua pertanyaan, silahkan klik
                                        tombol di bawah ini untuk mengirimkan jawaban anda.
                                        <br clear="all" /><br />
                                        <input type="hidden" name="aksi" value="simpan" />
                                        <input type="submit" value="Lihat Hasil " class="btn btn-success btn-lg" />
                                    </div>


                                </form>
                                {/if}
                                <br clear="all" />



                            </div>

                        </div>

                    </div>





                </div>
            </div>




        </div>


    </div>
    <!-- /.col-xs-12 -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container -->
    <br clear="all" />
</section>
<!-- /#page -->

{elseif $aksi eq 'hasil'}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="sign-form single">
                    <div class="tesmandiri-intro">
                        <!-- <img src="{$lokasiwebtemplate}images/img.tesmandiri_.png" /> -->
                        <h2>Analisa Profile Kepribadian <br />STAI-State</h2>
                        <br />Pengembangan tes ini merupakan kerjasama antara Pojok Psikologi Bandung, d'Fun Station,
                        IPK Jabar dan HIMPSI Jabar.
                        <br /><br />
                        <strong>Konsultan Ahli:</strong><br />
                        Dr. Henndy Ginting, S.Psi., M.Si., Psikolog<br />
                        Robert O. Rajagukguk, Ph.D., Psikolog<br />
                    </div>
                    <div class="sign-inner">

                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                                        <li class="disabled"><a href="#step-1">
                                                <h4 class="list-group-item-heading">Daftar</h4>
                                            </a></li>
                                        <li class="disabled"><a href="#step-2">
                                                <h4 class="list-group-item-heading">Tes</h4>
                                            </a></li>
                                        <li class="active"><a href="#step-3">
                                                <h4 class="list-group-item-heading">Hasil</h4>
                                            </a></li>
                                    </ul>
                                </div>
                            </div>

                            <div>

                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered ">
                                          <tr>
                                              <th style="padding-left: 15px ;" ></th>
                                              <th style="padding-left: 15px ;" >D</th>
                                              <th style="padding-left: 15px ;" >I</th>
                                              <th style="padding-left: 15px ;" >S</th>
                                              <th style="padding-left: 15px ;" >C</th>
                                              <th style="padding-left: 15px ;" >&diams;</th>
                                          </tr>
                                          <tr>
                                            <td style="padding-left: 15px ;" ><strong>MOST</strong></td>
                                            <td style="padding-left: 15px ;" >{$jawabanpd}</td></td>
                                            <td style="padding-left: 15px ;" >{$jawabanpi}</td></td>
                                            <td style="padding-left: 15px ;" >{$jawabanps}</td></td>
                                            <td style="padding-left: 15px ;" >{$jawabanpc}</td></td>
                                            <td style="padding-left: 15px ;" >{$jawabanpx}</td></td>
                                          </tr>
                                          <tr>
                                            <td style="padding-left: 15px ;" ><strong>LEAST</strong></td>
                                            <td style="padding-left: 15px ;" >{$jawabankd}</td></td>
                                            <td style="padding-left: 15px ;" >{$jawabanki}</td></td>
                                            <td style="padding-left: 15px ;" >{$jawabanks}</td></td>
                                            <td style="padding-left: 15px ;" >{$jawabankc}</td></td>
                                            <td style="padding-left: 15px ;" >{$jawabankd}</td></td>
                                          </tr>
                                          <tr>
                                            <td style="padding-left: 15px ;" ><strong>CHANGE</strong></td>
                                            <td style="padding-left: 15px ;" >{$jumlahd}</td></td>
                                            <td style="padding-left: 15px ;" >{$jumlahi}</td></td>
                                            <td style="padding-left: 15px ;" >{$jumlahs}</td></td>
                                            <td style="padding-left: 15px ;" >{$jumlahc}</td></td>
                                            <td style="padding-left: 15px ;" ></td></td>
                                          </tr>
                                        </table>
                                      </div>
                                </div>

                                <center>

                                    {$sikapdesc.keterangan}
                                    <br /><br />
                                    <a href="https://www.dfunstation.com/hasil-personality" class="btn btn-success btn-lg" target="blank">Lihat Hasil Lenkapnya</a>
                                </center>
                            </div>
                        </div>
                    </div>




                </div>


            </div>
            <!-- /.col-xs-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <br clear="all" />
</section>
<!-- /#page -->


{else}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <br><br>
                <div class="sign-form single">
                    <div class="tesmandiri-intro">
                        <!-- <img src="{$lokasiwebtemplate}images/img.tesmandiri_.png" /> -->
                        <h2>Analisa Profile Kepribadian<br />STAI-State</h2>
                        <br />Pengembangan tes ini merupakan kerjasama antara Pojok Psikologi Bandung, d'Fun Station,
                        IPK Jabar dan HIMPSI Jabar.
                        <br /><br />
                        <strong>Konsultan Ahli:</strong><br />
                        Dr. Henndy Ginting, S.Psi., M.Si., Psikolog<br />
                        Robert O. Rajagukguk, Ph.D., Psikolog<br />
                    </div>
                    <div class="sign-inner">

                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                                        <li class="active"><a href="#step-1">
                                                <h4 class="list-group-item-heading">Daftar</h4>
                                            </a></li>
                                        <li class="disabled"><a href="#step-2">
                                                <h4 class="list-group-item-heading">Tes</h4>
                                            </a></li>
                                        <li class="disabled"><a href="#step-3">
                                                <h4 class="list-group-item-heading">Hasil</h4>
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div>

                                {if $pesanhasil neq ''}
                                <div class="alert {if $berhasil eq '1'}  alert-success {else} alert-danger{/if} alert-dismissible"
                                    role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span
                                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    {$pesanhasil}.
                                    <ul>
                                        {foreach from=$pesan key=id item=a}
                                        <li>{$a.pesan}</li>
                                        {/foreach}
                                    </ul>
                                </div>
                                {else}
                                Sebelum melakukan tes analisa profile kepribadina, mohon untuk melengkapi informasi dibawah ini dengan
                                lengkap
                                dan benar terlebih dahulu.<br /><br />
                                {/if}

                                {if $berhasil neq '1'}
                                <script src="{$fulldomain}/librari/ajax/ajax_kota.js.php"></script>
                                <script src="{$fulldomain}/librari/ajax/ajax_kec.js.php"></script>
                                <form role="form" action="{$fulldomain}/tes-personality/daftaranggota"
                                    method="post" name="login">
                                    <input type="hidden" name="fbid" value="{$fbid}" />
                                    <input type="hidden" name="twid" value="{$twid}" />
                                    <input type="hidden" name="gpid" value="{$gpid}" />

                                    <div class="form-group">
                                        <label>Nama Lengkap</label>
                                        <input type="text" data-original-title="Name" name="userfullname"
                                            value="{$daftarname}"
                                            data-content="Silahkan masukan nama lengkap anda disini."
                                            data-trigger="focus" data-placement="left" data-toggle="popover"
                                            placeholder="Masukan Nama Lengkap" id="name" class="form-control"
                                            required="required">
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" data-original-title="email" name="useremail"
                                            value="{$daftarname}"
                                            data-content="Silahkan masukan nama email anda disini." data-trigger="focus"
                                            data-placement="left" data-toggle="popover" placeholder="Masukan Email"
                                            id="name" class="form-control" required="required">
                                    </div>

                                    <div class="form-group">
                                        <label>Telepon</label>
                                        <input type="text" data-original-title="userphonegsm" name="userphonegsm"
                                            value="{$daftarname}"
                                            data-content="Silahkan masukan nomor handphone anda disini."
                                            data-trigger="focus" data-placement="left" data-toggle="popover"
                                            placeholder="Silahkan masukan nomor handphone anda disini" id="name"
                                            class="form-control" required="required">
                                    </div>

                                    <div class="form-group">
                                        <label>Jenis Kelamin</label><br clear="all" />
                                        <div class="col-sm-4">
                                            <input type="radio" style="padding:5px; width:25px; height:25px"
                                                class="i-checks" name="usergender" value="laki-laki" {if $usergender
                                                eq 'laki-laki' }checked{/if} required> Laki-laki
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="radio" style="padding:5px; width:25px; height:25px"
                                                class="i-checks" name="usergender" value="perempuan" {if $usergender
                                                eq 'perempuan' }checked{/if} required> Perempuan
                                        </div>
                                    </div>
                                    <br clear="all" />

                                    <div class="form-group mt-10">
                                        <label>Tanggal Lahir</label><br clear="all" />
                                        <div class="col-xs-4">
                                            <select name="date" class="form-control" required>
                                                <option value="" selected>--Hari--</option>
                                                {html_options values=$dateloop output=$dateloop selected=$dateselected}
                                            </select>
                                        </div>
                                        <div class="col-xs-4 ">
                                            <select name="month" class="form-control" required>
                                                <option value="" selected>--Bulan--</option>
                                                {html_options values=$monthloop output=$monthloop
                                                selected=$monthselected}
                                            </select>
                                        </div>
                                        <div class="col-xs-4">
                                            <select name="year" class="form-control" required>
                                                <option value="" selected>--Tahun--</option>
                                                {html_options values=$yearloop output=$yearloop selected=$yearselected}
                                            </select>
                                        </div>
                                    </div>

                                    <br clear="all" />
                                    <div class="form-group mt-10">
                                        <label>Status</label><br clear="all" />
                                        <div class="col-sm-9">
                                            <select name="marriagestatusid" class="form-control" required>
                                                <option value="">-- pilih --</option>
                                                <option value="belum menikah" {if $marriagestatusid eq 'belum menikah'
                                                    }selected{/if}>belum menikah</option>
                                                <option value="menikah" {if $marriagestatusid eq 'menikah'
                                                    }selected{/if}>menikah</option>
                                                <option value="duda" {if $marriagestatusid eq 'duda' }selected{/if}>duda
                                                </option>
                                                <option value="janda" {if $marriagestatusid eq 'janda' }selected{/if}>
                                                    janda</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br clear="all" />
                                    <div class="form-group mt-10">
                                        <label for="KodePos" class="col-md-123 control-label">Propinsi</label><br />
                                        <div class="col-sm-12">
                                            <select name="propinsiid" class="form-control"
                                                onchange="getKota(this.value);" required>
                                                <option value=""> -- Pilih Propinsi -- </option>
                                                {foreach from=$datapropinsi key=id item=u}
                                                <option value="{$u.id}" {if $propinsiid==$u.id}selected{/if}>
                                                    {$u.namapropinsi}</option>
                                                {/foreach}
                                            </select>
                                        </div>
                                    </div><br clear="all" />
                                    <div class="form-group mt-10">
                                        <label for="dob" class="col-sm-12 control-label">Kota / Kabupaten</label><br />
                                        <div class="col-sm-12">
                                            <select name="kotaid" id="kotaid" class="form-control" required
                                                onchange="getKec(this.value);">
                                                <option value=""> -- Pilih Kota -- </option>
                                                {foreach from=$datakota key=kotaid item=a}
                                                <option value="{$a.kotaid}" {if $a.kotaid eq $kotaids}
                                                    selected="selected" {/if}>{$a.nama}</option>
                                                {/foreach}
                                            </select>
                                        </div>
                                    </div>

                                    <br clear="all" />
                                    <div class="form-group">
                                        <label>Pendidikan</label>
                                        <select name="pendidikan" class="form-control" required>
                                            <option value="">-- pilih --</option>
                                            <option value="sd" {if $marriagestatusid eq 'sd' }selected{/if}>SD</option>
                                            <option value="sltp" {if $marriagestatusid eq 'sltp' }selected{/if}>SLTP
                                            </option>
                                            <option value="slta" {if $marriagestatusid eq 'slta' }selected{/if}>SLTA
                                            </option>
                                            <option value="s1" {if $marriagestatusid eq 's1' }selected{/if}>S1</option>
                                            <option value="s2" {if $marriagestatusid eq 's2' }selected{/if}>S2</option>
                                            <option value="s3" {if $marriagestatusid eq 's3' }selected{/if}>S3</option>
                                        </select>
                                    </div>


                                    <br clear="all" />
                                    <label>Pekerjaan</label>
                                    <input type="text" data-original-title="Name" name="pekerjaan"
                                        value="{$daftarpekerjaan}"
                                        data-content="Silahkan masukan pekerjaan anda disini." data-trigger="focus"
                                        data-placement="left" data-toggle="popover" placeholder="Masukan Nama Pekerjaan"
                                        id="name" class="form-control" required="required">


                                    <br clear="all" />

                                    <!-- <div class="form-group">
                                        <label for="KodePos" class="col-md-123 control-label">Gambarkan kondisi anda
                                            saat ini</label><br />
                                        <div class="col-sm-12">
                                            {foreach from=$dataarea key=id item=u}
                                            <input style="padding:5px; width:25px; height:25px" type="radio"
                                                class="i-checks" name="covid_kondisi" value="{$u.covid_id}" required>
                                            {$u.nama}<br clear="all" />
                                            {/foreach}

                                        </div>
                                    </div> -->
                                    <br clear="all" />
                                    <!-- <hr />
                                    <br />


                                    <hr /> -->
                                    <button class="btn btn-lg btn-success" type="submit">Pembayaran<i class="fal fa-arrow-right"></i> </button>
                                    <!-- <strong>Rp <strike style="color: red;"> 5.000 </strike>&nbsp; Diskon 100%</strong> -->


                                </form>
                                {/if}
                                <br clear="all" />
                            </div>
                        </div>
                    </div>
                    <!-- /.col-xs-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
            <br clear="all" />
</section>
<!-- /#page -->

{/if}

<script type="text/javascript">

    $(document).ready(function () {
        var $height = $(window).height();
        var $hiframe = $height - 150;
        $('#pagemember').css('min-height', $hiframe + 'px');
    });
</script>

{if $kanal eq 'user' and $aksi eq 'daftar'}
<!-- Start modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-info">
                    <h2>{$detailnama}</h2>
                    {$detaillengkap} <br clear="all" />
                    <center><button type="button" class="btn btn-default" data-dismiss="modal">Selesai Baca dan
                            Lanjutkan</button></center>
                </div>
            </div>
            <br clear="all" />
        </div>
    </div>
</div>
</div>
<script>
    $(document).ready(function () {
        $("#klikkodeetik").click(function () {
            $('#myModal2').modal('show');
        });
    });
</script>

{/if}

{strip}

<footer id="footer">




    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <center>IPK Jabar &copy; 2022</center>
                    </p>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-bottom -->
</footer>
</div>
<!-- /#inner-wrapper -->
<!-- /#wrapper -->



<script src="{$lokasiwebtemplate}js/jquery.init.js"></script>
<script src="{$lokasiwebtemplate}js/dev.js"></script>

<script src="{$lokasiwebtemplate}js/bootstrap.min.js"></script>


{literal}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36866276-23"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-36866276-23');
</script>

{/literal}



<!-- =========================================
        CUSTOM AND CONFIGURATION JAVASCRIPT DONT PLACE SCRIPT INLINE
        ========================================== -->


</body>

</html>
{/strip}