<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jwplayer 6.8</title>
	<script type="text/javascript" src="jwplayer.4min.js?ver=3942178347"></script>
	<script type="text/javascript">jwplayer.key="uzBbpYh+pgrOIlodl46+LloYU9avwUZ/lR5yAw==";</script>
</head>
<body>
<div id="radio"></div>
<script type="text/javascript">
   jwplayer("radio").setup({
        id : 'DGT_4ever_9TrKwudgaZ52pfYCCn',
        height: 30,
        width : '100%',
        flashplayer: "player.swf",
        html5player: "jwplayer.html5.js",
        aboutlink: "http://smkn1cibadak.sch.id",
        abouttext: "Radio SMK Negeri 1 Cibadak",
        file: 'http://118.97.195.35:8000/live.mp3',
        flashvars: 'ignoremeta=true',
        provider: 'sound',
        type : 'mp3',
        primary: 'flash',
        autostart : true,
        skin: "beelden"
   });
</script>
</body>
</html>