.media-gallery-kecil{
  width: 31.7%;
  overflow: hidden;
  margin: 0 12px 10px 0;
  display: inline-block;

}

/*message*/
.showremove { display:none; margin-left:40px;}

#most-pane .media {
    min-height: 115px;
}

.items .media .media-date-kecil{
	font: 600 12px "Open Sans";
	color: #A8A8A8;
}

.arab{
	width:100%;
	float:right;
	text-align:right;
	line-height:20px;
	font-family: "KFGQPC Uthman Taha Naskh", KFGQPC_Naskh, "Traditional Arabic", Tahoma, sans-serif;
	font-size: 34px!important; 
	line-height: 55px!important;
	direction: rtl;
	padding-bottom:20px;
	margin-bottom:10px;
	}
.arabnama{
	width:100%;
	float:right;
	text-align:center;
	line-height:20px;
	font-family: "KFGQPC Uthman Taha Naskh", KFGQPC_Naskh, "Traditional Arabic", Tahoma, sans-serif;
	font-size: 34px!important; 
	line-height: 55px!important;
	direction: rtl;
	}

/* SLIDER BANNER */
#slider{
	width: 100%;
	height: auto;
}